.Square {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  padding: 0;
  float: left;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 1.8em;
  outline: none;
  font-size: 20px;
  color: #323232;
}

.Black {
  background: black;
  float: left;
}

.Focused {
  background: yellow;
}

.HelpSolve {
  background-image: linear-gradient(225deg, red, white 7px, transparent 7px, transparent);
}

.Numbered {
  counter-increment: value;
}

.Numbered:nth-of-type(n)::before {
  position: absolute;
  font-weight: normal;
  top: -45%;
  left: 1%;
  content: counter(value);
  font-size: 10px;
}